body {
	margin: 0;
	font-family: Helvetica;
	color: #333;
	background: #eee;
}
#logo {
	height: 100px;
	width: 100px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}